---
---
@import 'reset';

.inherit-padding {
  padding: inherit;
}

.v-pad {
  margin: 1.25rem auto;
}

.v-pad-s {
  margin: 0.5rem auto;
}

.h-pad {
  margin: auto 1.25rem;
}

.h-pad-s {
  margin: auto 0.5rem;
}