<!-- js -->
<script src="//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/holder/2.9.4/holder.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/vue/2.3.2/vue.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/d3js/3.5.17/d3.min.js"></script>-->
<script src="//cdn.jsdelivr.net/what-input/2.1.1/what-input.min.js"></script>
<script src="//cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>

<script>$(document).foundation();</script>
