<div class="top-menu">
    <nav class="ink-navigation ink-grid">
        <ul class="menu horizontal black">
            <li id="logo"></li>
            <li id="logo-name"><a href="/">buckle2000</a></li>
            <li><a href="https://buckle2000.itch.io">游戏</a></li>
            <li><a href="/posts">见闻</a></li>
            <li><a href="https://buckle2000.bandcamp.com">音乐</a></li>
        </ul>
    </nav>
</div>

<!--[if IE]>
<div class="ink-alert basic" role="alert">
    <button class="ink-dismiss">&times;</button>
    <p>
        <strong>你的浏览器很垃圾。</strong>
        请安装<a href="http://browsehappy.com/">更高级的浏览器</a>以获取
    </p>
</div>
<![endif]-->