$tk-serif: 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', "source-han-serif-sc", serif;
$tk-sans: 'Noto', 'Noto Sans CJK SC', 'Noto Sans CJK', 'Source Han Sans', "source-han-sans-simplified-c", sans-serif;
// Light   300
// Regular 400
// Bold    700

body, h1, h2, h3, h4, h5, h6 {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2, h3 {
  font-family: $tk-serif;
}

body, h4, h5, h6 {
  font-family: $tk-sans;
}

.top-bar {
  font-family: $tk-serif;
  font-weight: 300;
}

.text-normalize {
  font-size: 1rem; 
}
