
$c-avatar-color0: #000;
$c-avatar-color1: #171717;
$c-avatar-color2: #222;
$c-avatar-color3: #333;

$nav-height: 3rem;

.c-avatar {
  .button, .button:focus {
    background-color: $c-avatar-color2;
    width: $nav-height;
    height: $nav-height;
    margin: 0 0;
    i {
      color: white;
      background-color: unset;
    }
  }
  .button:hover {
    background-color: $c-avatar-color3;
  }
  .off-canvas {
    width: 10rem;
    font-family: $tk-sans;
    li {
      display: block;
      * {
        vertical-align: middle;
      }
    }
    i {
      color: white;
      background-color: unset;
    }
  }
  img {
    background-color: $c-avatar-color0;    
  }
  li, img {
    height: $nav-height;
  }
  background-color: $c-avatar-color3;
  * {
    background-color: $c-avatar-color3;
  }
  a {
    transition: background-color .3s;
    color: white;
  }
  a:hover {
    background-color: #666;
  }

  .show-for-medium {
    .div1 {
      background-color: $c-avatar-color1;
    }
    .div2 {
      background-color: $c-avatar-color2;
    }
    .div1, .div2 {
      width: .5rem;
    }
    img {
      background-color: $c-avatar-color0;    
    }
  }

  @media screen and (max-width: 39.9375em) {
    .hide-for-medium {
      text-align: center;
      background-color: $c-avatar-color1;
    }
  }

  .li-highlight {
    background-color: #666;
    * {
      background-color: unset;
    }
  }
}