
$c-avatar-color0: #000;
$c-avatar-color1: #171717;
$c-avatar-color2: #222;
$c-avatar-color3: #333;

.c-avatar {
  .div1 {
    background-color: $c-avatar-color1;
  }
  .div2 {
    background-color: $c-avatar-color2;
  }
  .div1, .div2 {
    width: .5rem;
  }
  background-color: $c-avatar-color3;
  * {
    background-color: $c-avatar-color3;
  }
  img {
    background-color: $c-avatar-color0;    
  }
  li, img {
    height: 3rem;
  }
  a {
    transition: background-color .3s;
    color: white;
  }
  a:hover {
    background-color: #666;
  }

  @media screen and (max-width: 39.9375em) {
    .hide-for-medium {
      text-align: center;
      background-color: $c-avatar-color1;
    }
    .top-bar-left, .top-bar-right {
      width: 100%;
      text-align: center;
      background-color: $c-avatar-color2;
      ul {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
      li {
        background-color: $c-avatar-color2;
      }
    }
  }
}